@model IEnumerable<Web.Areas.Admin.Models.Vendor>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-8 font-weight-bold text-center">
            <h1>VENDOR PORTAL</h1>
        </div>
        <div class="col-4">
            <a asp-action="Create" class="text-right text-white btn-success p-2 btn">Add Vendor</a>
            <a class="text-right text-white btn-danger p-2 btn ml-5" asp-controller="VendorOrders" asp-action="Index">Orders</a>
        </div>
    </div>
</div>
<br />
<table class="table">
    <thead style="background-color: #BBADFF;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VendorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ordersplaced)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody style="background-color: #DAB6FC;">
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ordersplaced)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-dark btn-sm mr-2">Edit</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-dark btn-sm mr-2">Details</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-dark btn-sm">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
