@model InterScOM.Areas.Admin.Models.AdminStats

@{
    ViewData["Title"] = "Admin Dashboard";
}

<!-- My styles Start -->
<style>
    .card-header {
        background-color: #BBADFF;
    }
    .card-body {
        background-color: #DAB6FC;
    }

</style>


<!-- My styles end -->



<div class="container-fluid">

    <br />

    <div class="row">
        <div class="col-md-12 text-center text-uppercase font-weight-bolder" style=" color: #817F82">
            <h2>
                Admin Dashboard
            </h2>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-md-4 ">
            <div class="card text-center">
                <h5 class="card-header">
                    Total Orders
                </h5>
                <div class="card-body">
                    <p class="card-text h4">
                        @Model.Totalorders
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <h5 class="card-header" style="background-color: #DAB6FC">
                    Total Orders Placed
                </h5>
                <div class="card-body" style="background-color: #BBADFF">
                    <p class="card-text h4">
                        @Model.OrdersPlaced
                    </p>
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-dark text-center">
                <h5 class="card-header">
                    Total Orders Received
                </h5>
                <div class="card-body">
                    <p class="card-text h4">
                        @Model.OrdersReceived
                    </p>
                </div>

            </div>
        </div>
    </div>

    <br /> <!--First row end -->
    <div class="row">

        <div class="col-md-4">
            <div class="card text-dark text-center">
                <h5 class="card-header ">
                    Total Vendors listed
                </h5>
                <div class="card-body">
                    <p class="card-text h4 ">
                        @Model.TotalVendors
                    </p>
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-dark text-center">
                <h5 class="card-header" style="background-color: #DAB6FC">
                    Total Supply Count
                </h5>
                <div class="card-body" style="background-color: #BBADFF">
                    <p class="card-text h4">
                        @Model.Totalsupplies
                    </p>
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-dark text-center">
                <h5 class="card-header">
                    Total Fee payments listed
                </h5>
                <div class="card-body">
                    <p class="card-text h4">
                        @Model.TotalFees
                    </p>
                </div>

            </div>
        </div>






    </div>
    <br /> <!-- second row end -->
    <div class="row">
        <div class="col-sm-12 ">
            <div class="card text-dark text-center">
                <h5 class="card-header h4 text-uppercase ">
                    Orders shipping
                </h5>
                <div class="card-body h4">
                    <table class="table table-borderless " style=" border-collapse: separate;  border-spacing: 0 1em;">
                        <thead>
                            <tr>
                                <th>
                                    VendorId
                                </th>
                                <th>
                                    Order Name
                                </th>
                                <th>
                                    Date Placed
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="text-dark">

                            @foreach (var order in Model.OrdersShipping)
                            {
                                <tr>
                                    <td>@order.VendorId</td>
                                    <td>@order.OrderName</td>
                                    <td>@order.DatePlaced</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>

            </div>


        </div>

    </div>
</div>



