@model IEnumerable<Web.Areas.Admin.Models.VendorOrders>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-8 text-uppercase font-weight-bold text-center">
            <h2>Order management</h2>
        </div>
        <div class="col-4 mt-2">
            <a class="btn btn-success text-white" asp-action="Create">Add Order</a>
            <a class="btn btn-danger text-white ml-4" asp-controller="Vendors" asp-action="Index">Vendors</a>
        </div>
    </div>
</div>
<br />
<p class="text-uppercase text-info font-weight-bold text-center"> Zero Vendor Id's are unidentified Vendors. Consider Adding them to Vendor Portal to identify them</p> 
<table class="table">
    <thead style="background-color: #BBADFF;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VendorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VendorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderRefNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderClass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatePlaced)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateReceived)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr style="background-color:#DAB6FC;">
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderRefNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderClass)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatePlaced)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateReceived)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-dark btn-sm mb-1">Edit</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-dark btn-sm mb-1">Details</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-dark btn-sm">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
