@model InterScOM.Areas.Forum.Models.Query


@{
    ViewData["Title"] = "Details";
}

<div>
    <div style="padding-bottom: 15px">
        <a class="btn btn-dark text-white-50" asp-action="Index">Back to List</a>
    </div>
    <div class="card">
        <div class="card-header">
            Topic : @Model.Topic
        </div>
        <div class="card-body">
            <p class="card-text">@Model.Question</p>
        </div>
        <div class="card-footer">
            <label>@Model.UpVotes</label>
            <button class="btn btn-success"> 👍 </button>
            <label>@Model.DownVotes</label>
            <button class="btn btn-danger"> 👎 </button>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <h4>Answers</h4>
        </div>
        <div class="col-md-4">
            <a class="btn btn-success" asp-action="Create" asp-route-id="@Model.Id">+ Add Answer</a>
        </div>
    </div>
    <hr />
    <ul style="list-style-type:none;">
        @foreach (var answer in Model.Answers)
        {
            <li  style="padding: 10px">
                <div class="card">
                    <div class="card-header">
                        UserName : @Html.DisplayFor(modelItem => answer.UserName)
                    </div>
                    <div class="card-body">
                        <p class="card-text">@Html.DisplayFor(modelItem => answer.ThreadAnswer)</p>
                    </div>
                    <div class="card-footer">
                        <label>@Html.DisplayFor(modelItem => answer.UpVotes)</label>
                        <button class="btn btn-success"> 👍 </button>
                        <label>@Html.DisplayFor(modelItem => answer.DownVotes)</label>
                        <button class="btn btn-danger"> 👎 </button>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>

