@model InterScOM.Areas.Staff.Models.Application

@{
    ViewData["Title"] = "Approve";
}

<h1>Approve</h1>

<h3>Are you sure you want to approve this application?</h3>
<div>
    <h4>Application</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Admission Number :
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FathersName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FathersName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MothersName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MothersName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dob)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dob)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Percentage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Percentage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AnnualIncome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AnnualIncome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InternetRating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InternetRating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApplicationDate)
        </dd>
    </dl>
    
    <form asp-action="Approve">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Approve" class="btn btn-success" /> |
        <a asp-action="Dashboard">Back to List</a>
    </form>
</div>
