@model IEnumerable<Web.Areas.Admin.Models.Fee>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-10 font-weight-bold text-center">
            <h2>FEE MANAGEMENT</h2>
        </div>
        <div class="col-2">
            <a asp-action="Create" class="text-right btn-success p-2 btn">Create New</a>
        </div>
    </div>
</div>

<br />
<table class="table">
    <thead style="background-color: #BBADFF;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ParentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FeeStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody style="background-color: #DAB6FC;">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ParentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FeeStatus)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-dark btn-sm mr-2">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-dark btn-sm mr-2">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-dark btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
